#shown-1{
  display:none;
}

#shown-2{
  display:none;
}

#shown-3{
  display:none;
}

.clickable-1{
  color:blue;
}


.clickable-2{
  color:blue;
}

.clickable-3{
  color:blue;
}

.centering{
  text-align: center;
}